.navbar-logo{
    height: 40px;
    width: auto;
    margin-right: 10px;
}

@font-face {
    font-family: "MyCustomFont";
    src: url('assets/fonts/MyCustomFont.ttf');
}

.font-custom{
font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
}

body {
    font-family: "MyCustomFont";
}
